span.s1{
 color: #ffffff;
font-style: italic;
font-size: 20px
}

.s2{
     color: #ffffff;
font-style: italic;
font-size: 20px
}

.s3{
    color: #ffffff;
font-style: italic;
font-size: 20px  }

.s4{color: #ffffff;
font-style: italic;
font-size: 20px}
body {
  background: #cff;
}